

.about {
    padding: 0 20px 0 20px;
    margin-bottom: 120px;
    // .about__row

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 500px;
    }

    // .about__title

    &__title{
        font-weight: 600;
        font-size: 94px;
        line-height: 140px;
        color: #ffffff;
        padding-top: 20px;
        background: url(../img/about_icon.svg) 0px 0px no-repeat;

       
    }

    // .about__content

    &__content {
        flex: 1 1 50%;
        transform: translate(-20%, 0);
        opacity: 0;
        transition: all 1s ease 0s;
    }

    // .about__text

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        color: #ffffff;

    }

    // .about__threed

    &__threed {
        position: relative;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        transform: translate(20%, 0);
        opacity: 0;
        transition: all 1s ease 0s;
    }
}
.about__row.active{
    .about__content {
        transform: translate(0, 0);
        opacity: 1;
        transition: all 1s ease 0s;
    }
    .about__threed{
        transform: translate(0, 0);
        opacity: 1;
        transition: all 1s ease 0s;
    }
}
canvas{
    display: block;
    position:absolute;
    max-width: 45%; 
    transform: translate(0 10%);
    opacity: 0;
    transition: all 1s ease 0s; 
}
canvas.active{
    transform: translate(0 0);
    opacity: 1;
    transition: all 1.5s ease 0s; 
}
  
.click{
position: relative;    
}

.clickme{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 15px;
    background-color: red;
    padding: 0 10px 0 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24;
}

.clickme.active{
        width: 300px;
        height: 30px;
}
