.projects{
    margin-bottom: 120px;

    &__title{
        text-align: center;
        border-bottom: 1px solid #ffffff;
        font-size: 32px;
        margin-bottom: 20px;
    }

    &__row{
        padding: 0 20px 0 20px;
        display: flex;
        justify-content: space-between;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 1 50%;
        margin-right: 50px;
        transform: translate(0 10%);
        opacity: 0;
        transition: all 1s ease 0s;
    }

    &__text{
        font-size: 24px;
        font-weight: 600;
        line-height: 50px;
        color: #ffffff;
    }
}
.swiper{
    flex: 1 1 50%;
    max-width: 45%;
    max-height: 600px; 
    transform: translate(0 10%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.swiper-slide{
    img{
        width: 100%;
        height: 100%;
    }
}

.projects__row.active{
    .projects__content{
        transform: translate(0 0);
        opacity: 1;
        transition: all 1s ease 0s;
    }
    .swiper{
        transform: translate(0 0);
        opacity: 1;
        transition: all 1s ease 0s;
    }
}